* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    color: darkgreen;
    text-align: center;
}

h2 {
    font-weight: bold;

}

.recipe-list {
    text-align: center;
}

img {
    text-align: center;
    height: 200px;
    width: auto;
}